<?xml version="1.0" encoding="UTF-8"?>

<odoo>
    <menuitem id="menu_event_root"
    name="event_management products/services"
    sequence="0"/>

    <menuitem id="menu_event_products"
    name="event_management_products"
    parent="menu_event_root"
    sequence="0"/>

    <menuitem id="menu_event_services"
    name="event_management_services"
    parent="menu_event_root"
    sequence="0"/>
</odoo>